.imgDiv{
  width:30%
  height:300px;
  padding:5px;
}

.header {
  display: flex;
  padding: 5px;
}

.headerImg {
  height: 50px;
}

.alert{
    position: absolute;
    display: none;
}

img {
  padding: 10px;
}

i {
  padding-right: 10px;
}

html {
    height: 100%;
}
body {
    background: #f06;
    background: linear-gradient(45deg, #f06, yellow);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}





.card {
  width: 18rem;
  display:inline-block;
}

.titleInDiv {
color: blue;
}

.FavBtn {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 10px;
  display: flex;
  align-items: center;
  padding: 15px 32px;
  border-radius: 2px;
  box-sizing: border-box;
}

.btn {
height: 36px;
display: inline-block;
}
